{
    "tshorts": [
        "as",
        "av",
        "ag",
        "aa",
        "ac",
        "at",
        "bam",
        "ban",
        "bca",
        "bceh",
        "bce",
        "bco",
        "bfr",
        "bhi",
        "bhy",
        "bnu",
        "bpu",
        "bsp",
        "bsu",
        "br",
        "ebv",
        "fib",
        "cols",
        "colt",
        "esog",
        "esom",
        "esomu",
        "haa",
        "hlv",
        "kc",
        "liv",
        "lu",
        "msg",
        "ms",
        "nt",
        "ov",
        "pan",
        "pit",
        "pro",
        "snse",
        "sse",
        "si",
        "spl",
        "sto",
        "tes",
        "thy",
        "ut",
        "va",
        "wb"
    ],
    "brain": [
        "bam",
        "ban",
        "bca",
        "bceh",
        "bce",
        "bco",
        "bfr",
        "bhi",
        "bhy",
        "bnu",
        "bpu",
        "bsp",
        "bsu"
    ],
    "sb006": [
        "haa",
        "pan",
        "spl",
        "wb"
    ],
    "as": {
        "fullname": "Adipose_Subcutaneous",
        "name": "ADPSBQ",
        "color": "#FF6600",
        "nsamples": 581
    },
    "av": {
        "fullname": "Adipose_Visceral_Omentum",
        "name": "ADPVSC",
        "color": "#FFAA00",
        "nsamples": 469
    },
    "ag": {
        "fullname": "Adrenal_Gland",
        "name": "ADRNLG",
        "color": "#33DD33",
        "nsamples": 233
    },
    "aa": {
        "fullname": "Artery_Aorta",
        "name": "ARTAORT",
        "color": "#FF5555",
        "nsamples": 387
    },
    "ac": {
        "fullname": "Artery_Coronary",
        "name": "ARTCRN",
        "color": "#FFAA99",
        "nsamples": 213
    },
    "at": {
        "fullname": "Artery_Tibial",
        "name": "ARTTBL",
        "color": "#FF0000",
        "nsamples": 584
    },
    "bam": {
        "fullname": "Brain_Amygdala",
        "name": "BRNAMY",
        "color": "#EEEE00",
        "nsamples": 129
    },
    "ban": {
        "fullname": "Brain_Anterior_cingulate_cortex_BA24",
        "name": "BRNACC",
        "color": "#EEEE00",
        "nsamples": 147
    },
    "bca": {
        "fullname": "Brain_Caudate_basal_ganglia",
        "name": "BRNCDT",
        "color": "#EEEE00",
        "nsamples": 194
    },
    "bceh": {
        "fullname": "Brain_Cerebellar_Hemisphere",
        "name": "BRNCHB",
        "color": "#EEEE00",
        "nsamples": 175
    },
    "bce": {
        "fullname": "Brain_Cerebellum",
        "name": "BRNCHA",
        "color": "#EEEE00",
        "nsamples": 209
    },
    "bco": {
        "fullname": "Brain_Cortex",
        "name": "BRNCTXA",
        "color": "#EEEE00",
        "nsamples": 205
    },
    "bfr": {
        "fullname": "Brain_Frontal_Cortex_BA9",
        "name": "BRNCTXB",
        "color": "#EEEE00",
        "nsamples": 175
    },
    "bhi": {
        "fullname": "Brain_Hippocampus",
        "name": "BRNHPP",
        "color": "#EEEE00",
        "nsamples": 165
    },
    "bhy": {
        "fullname": "Brain_Hypothalamus",
        "name": "BRNHPT",
        "color": "#EEEE00",
        "nsamples": 170
    },
    "bnu": {
        "fullname": "Brain_Nucleus_accumbens_basal_ganglia",
        "name": "BRNNCC",
        "color": "#EEEE00",
        "nsamples": 202
    },
    "bpu": {
        "fullname": "Brain_Putamen_basal_ganglia",
        "name": "BRNPTM",
        "color": "#EEEE00",
        "nsamples": 170
    },
    "bsp": {
        "fullname": "Brain_Spinal_cord_cervical_c-1",
        "name": "BRNSPC",
        "color": "#EEEE00",
        "nsamples": 126
    },
    "bsu": {
        "fullname": "Brain_Substantia_nigra",
        "name": "BRNSNG",
        "color": "#EEEE00",
        "nsamples": 114
    },
    "br": {
        "fullname": "Breast_Mammary_Tissue",
        "name": "BREAST",
        "color": "#33CCCC",
        "nsamples": 396
    },
    "ebv": {
        "fullname": "Cells_EBV-transformed_lymphocytes",
        "name": "LCL",
        "color": "#CC66FF",
        "nsamples": 147
    },
    "fib": {
        "fullname": "Cells_Cultured_fibroblasts",
        "name": "FIBRBLS",
        "color": "#AAEEFF",
        "nsamples": 483
    },
    "cols": {
        "fullname": "Colon_Sigmoid",
        "name": "CLNSGM",
        "color": "#EEBB77",
        "nsamples": 318
    },
    "colt": {
        "fullname": "Colon_Transverse",
        "name": "CLNTRN",
        "color": "#CC9955",
        "nsamples": 368
    },
    "esog": {
        "fullname": "Esophagus_Gastroesophageal_Junction",
        "name": "ESPGEJ",
        "color": "#8B7355",
        "nsamples": 330
    },
    "esom": {
        "fullname": "Esophagus_Mucosa",
        "name": "ESPMCS",
        "color": "#552200",
        "nsamples": 497
    },
    "esomu": {
        "fullname": "Esophagus_Muscularis",
        "name": "ESPMSL",
        "color": "#BB9988",
        "nsamples": 465
    },
    "haa": {
        "fullname": "Heart_Atrial_Appendage",
        "name": "HRTAA",
        "color": "#9900FF",
        "nsamples": 372
    },
    "hlv": {
        "fullname": "Heart_Left_Ventricle",
        "name": "HRTLV",
        "color": "#660099",
        "nsamples": 386
    },
    "kc": {
        "fullname": "Kidney_Cortex",
        "name": "KDNCTX",
        "color": "#22FFDD",
        "nsamples": 73
    },
    "liv": {
        "fullname": "Liver",
        "name": "LIVER",
        "color": "#AABB66",
        "nsamples": 208
    },
    "lu": {
        "fullname": "Lung",
        "name": "LUNG",
        "color": "#99FF00",
        "nsamples": 515
    },
    "msg": {
        "fullname": "Minor_Salivary_Gland",
        "name": "SLVRYG",
        "color": "#99BB88",
        "nsamples": 144
    },
    "ms": {
        "fullname": "Muscle_Skeletal",
        "name": "MSCLSK",
        "color": "#AAAAFF",
        "nsamples": 706
    },
    "nt": {
        "fullname": "Nerve_Tibial",
        "name": "NERVET",
        "color": "#FFD700",
        "nsamples": 532
    },
    "ov": {
        "fullname": "Ovary",
        "name": "OVARY",
        "color": "#FFAAFF",
        "nsamples": 167
    },
    "pan": {
        "fullname": "Pancreas",
        "name": "PNCREAS",
        "color": "#995522",
        "nsamples": 305
    },
    "pit": {
        "fullname": "Pituitary",
        "name": "PTTARY",
        "color": "#AAFF99",
        "nsamples": 237
    },
    "pro": {
        "fullname": "Prostate",
        "name": "PRSTTE",
        "color": "#DDDDDD",
        "nsamples": 221
    },
    "snse": {
        "fullname": "Skin_Not_Sun_Exposed_Suprapubic",
        "name": "SKINNS",
        "color": "#0000FF",
        "nsamples": 517
    },
    "sse": {
        "fullname": "Skin_Sun_Exposed_Lower_leg",
        "name": "SKINS",
        "color": "#7777FF",
        "nsamples": 605
    },
    "si": {
        "fullname": "Small_Intestine_Terminal_Ileum",
        "name": "SNTTRM",
        "color": "#555522",
        "nsamples": 174
    },
    "spl": {
        "fullname": "Spleen",
        "name": "SPLEEN",
        "color": "#778855",
        "nsamples": 227
    },
    "sto": {
        "fullname": "Stomach",
        "name": "STMACH",
        "color": "#FFDD99",
        "nsamples": 324
    },
    "tes": {
        "fullname": "Testis",
        "name": "TESTIS",
        "color": "#AAAAAA",
        "nsamples": 322
    },
    "thy": {
        "fullname": "Thyroid",
        "name": "THYROID",
        "color": "#006600",
        "nsamples": 574
    },
    "ut": {
        "fullname": "Uterus",
        "name": "UTERUS",
        "color": "#FF66FF",
        "nsamples": 129
    },
    "va": {
        "fullname": "Vagina",
        "name": "VAGINA",
        "color": "#FF5599",
        "nsamples": 141
    },
    "wb": {
        "fullname": "Whole_Blood",
        "name": "WHLBLD",
        "color": "#FF00BB",
        "nsamples": 670
    }
}